node_modules/
.idea/
*.iml
newrelic_agent.log
node-js-logs/
coverage/
output/
mochawesome-report/
*gradle*
*.log
.DS_Store
archive.tar.gz
reports
pra.md
src/conf/languages
build/
*.nkf
.nyc_output
mochawesome-report
reports
